{% extends 'base.html.twig' %}

{% block title %}Profiel van {{ member.getUser() }}{% endblock %}

{% block body %}

    <div>
        <h3>{{ member.getUser == app.user.getUser ? "Jouw" : member.getUser }} Profiel </h3>
        <div class='container-fluid well'>
            <div class='well container-fluid'><img class="profile-picture" src='{{ member.getPicture ?? 'https://s3.amazonaws.com/doggybook-storage/Gast.jpg' }}'>
                <div class='well'>{{ member.getProfile ? member.getProfile : "Deze gebruiker heeft nog geen profieltekst ingesteld." }}</div>
            </div>
        </div>
        <a class='btn btn-primary' href='#' disabled>Bekijk Jouw berichten</a>
    </div>

    {% if member.getUser == app.user.getUser %}
    <h3>Profiel bewerken</h3>
    <div class='container-fluid well'>
        <div class='form-group container-fluid well'>
            <form method='post' action="{{ path('app_profile_edit') }}" method="POST" enctype='multipart/form-data'>
                <div class="row">
                    <label for="picture">URL profielfoto</label>
                    <textarea class="form-control" id="picture" name="picture">{{ member.getPicture ?? '' }}</textarea>
                </div>
                <div class='row'>
                    <label for='profile'>Bewerk je profieltekst</label>
                    <textarea id="profile" class='form-control' name='profile' rows='5'>{{ member.getProfile }}</textarea>
                </div>
                <div class='row'>
                    <br><br><input type='submit' value='Profiel opslaan' class='btn btn-primary btn-block'>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

{% endblock %}
