{% extends 'base.html.twig' %}

{% block title %}Bewerk profielfoto{% endblock %}

{% block body %}
    <div class="row">
    {{ form_start(form) }}
    <div class="col-xs-4">
        {{ form_label(form.file) }}
    </div>
    <div class="col-xs-8">
        {{ form_widget(form.file) }}
    </div>
    <div class="col-xs-8 col-xs-offset-4">
        {{ form_errors(form.file) }}
    </div>
    <button class="btn">Uploaden</button>
    {{ form_end(form) }}
{% endblock %}