{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class='container-fluid well'>
        <form method='post' class='form-horizontal' role='form'>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class='form-group'>
                <label class="control-label col-sm-2" for="user">Gebruikersnaam:</label>
                <div class='col-sm-6'>
                    <input type='text' class='form-control' id="user" maxlength='16' name='name' value='{{ last_username }}' required autofocus>
                </div>
            </div>
            <div class='form-group'>
                <label class="control-label col-sm-2" for="password">Wachtwoord:</label>
                <div class='col-sm-6'>
                    <input type='password' id="password" class='form-control' maxlength='16' name='pass' value='' required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" name="_remember_me"> Onthoud mij</label>
                    </div>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" value='login'>Log in</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
