{% extends 'base.html.twig' %}

{% block title %}Leden{% endblock %}

{% block body %}
    <div>
        <h3>Vrienden</h3>
        <div class='well container-fluid'>
            {% for friend in friends %}
            <div class='span-4 column'>
                <img class="profile-picture" src='{{ friend.getPicture ?? 'https://s3.amazonaws.com/doggybook-storage/Gast.jpg' }}'>
                <br>
                <a href='{{ path('app_profile', {'user': friend.user}) }}'>{{ friend.user }}</a>
                [<a href='{{ path('app_remove_friend', {'friend':friend.user}) }}'>x</a>]
            </div>
            {% endfor %}
        </div>
    </div>

    <div>
        <h3>Andere leden</h3>
        <div class='container-fluid well'>
            <table class='table table-hover'>
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>Relatie</th>
                </tr>
                </thead>
                <tbody>
                {% for member in members %}
                <tr>
                    <td><a href='{{ path('app_profile', {'user': member.user}) }}'>{{ member.user }}</a></td>
                    {% if member.user == app.user.getUser %}
                        <td>Dit ben je zelf</td>
                    {% else %}
                        <td>[<a href='{{ path('app_add_friend', {'friend':member.user}) }}'>Vrienden worden</a>]</td>
                    {% endif %}
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}
