{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class='container-fluid well'>
        {#<form method='post' class='form-horizontal' role='form'>#}
            {#<div class='form-group'>#}
                {#<label class="control-label col-sm-2" for="name">Gebruikersnaam:</label>#}
                {#<div class='col-sm-6'>#}
                    {#<input type='text' id="name" class='form-control' maxlength='16' name='name' value=''>#}
                {#</div>#}
                {#<div class='col-sm-4' id='info'>#}
                {#</div>#}
            {#</div>#}
            {#<div class='form-group'>#}
                {#<label class="control-label col-sm-2" for="plainPassword">Wachtwoord:</label>#}
                {#<div class='col-sm-6'>#}
                    {#<input type='password' id="plainPassword" class='form-control' maxlength='16' name='plainPassword' value=''>#}
                {#</div>#}
            {#</div>#}
            {#<div class="form-group">#}
                {#<div class="col-sm-offset-2 col-sm-10">#}
                    {#<button type="submit" class="btn btn-primary" value='signup'>Registreren</button>#}
                {#</div>#}
            {#</div>#}
        {#</form>#}
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.user) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>


{% endblock %}
