<!DOCTYPE html>
<html>
<head>
    <title>DoggyBook</title>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://s3.amazonaws.com/doggybook-storage/style.css' type='text/css'>

</head>
<body>
<div class='container'>
    <center>
        <canvas id='logo' width='900' height='100'>DoggyBook</canvas>
    </center>

    {#if logged in#}
    {#<nav class='navbar navbar-inverse'>#}
    {#<div class='container-fluid'>#}
    {#<div>#}
    {#<ul class='nav navbar-nav'>#}
    {#<li><a href='members.php?view=$user'>Home</a></li>#}
    {#<li><a href='members.php'>Leden</a></li>#}
    {#<li><a href='friends.php'>Vrienden</a></li>#}
    {#<li><a href='messages.php'>Berichten</a></li>#}
    {#<li><a href='profile.php'>Profiel</a></li>#}
    {#</ul>#}
    {#<ul class='nav navbar-nav navbar-right inline'>#}
    {#<li><form>#}
    {#<label for='livesearch'>Zoek gebruikers:#}
    {#<input type="text" class='form-control' size='40' onkeyup="showResult(this.value)"></label>#}
    {#<div id="livesearch" style='background:white;'></div>#}
    {#</form></li>#}
    {#<li><a href='logout.php'><span class="glyphicon glyphicon-log-out"></span> Log uit</a></li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
    {#</nav>#}
    <nav class='navbar navbar-inverse'>
        <div class='container-fluid'>
            {% if app.user %}
                <ul class='nav navbar-nav'>
                    <li><a href='{{ path('app_home') }}'>Home</a></li>
                    <li><a href='{{ path('app_members') }}'>Leden</a></li>
                    <li><a class="disabled" href='friends.php'>Vrienden</a></li>
                    <li><a class="disabled" href='messages.php'>Berichten</a></li>
                    <li><a href='{{ path('app_profile', { 'user': app.user.getUser })  }}'>Profiel</a></li>
                </ul>
                <ul class='nav navbar-nav navbar-right inline'>
                    <li><form>
                            <label for='livesearch'>Zoek gebruikers:
                                <input type="text" class='form-control' size='40' onkeyup="showResult(this.value)"></label>
                            <div id="livesearch" style='background:white;'></div>
                        </form></li>
                    <li><a href='{{ path('app_logout') }}'><span class="glyphicon glyphicon-log-out"></span> Log uit</a></li>
                </ul>
            {% else %}
                <div>
                    <ul class='nav navbar-nav'>
                        <li><a href='{{ path('app_home') }}'>Home</a></li>
                    </ul>
                    <ul class='nav navbar-nav navbar-right'>
                        <li><a href='{{ path('app_login') }}'><span class="glyphicon glyphicon-log-in"></span> Inloggen</a></li>
                        <li><a href='{{ path('app_register') }}'><span class="glyphicon glyphicon-user"></span> Registreren</a></li>
                    </ul>
                </div>
            {% endif %}

        </div>
    </nav>
    {% block body %}{% endblock %}
</div>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='https://s3.amazonaws.com/doggybook-storage/javascript.js'></script>
</body>
</html>
