{% extends 'base.html.twig' %}

{% block body %}

    <div class='jumbotron'><h1>Welkom op doggybook!</h1>

        {% if app.user %}
            <p>{{ app.user.getUser }}, je bent ingelogd.</p>
        {% else %}
            <p>log in of registreer je om mee te doen! Of: <a href='login?user=guest' class="disabled">login als gast</a></p>
            <p>Click <a href="{{ path('app_error') }}">here</a> to throw a test error.</p>
        {% endif %}
    </div>

{% endblock %}